
    <!DOCTYPE html>
    <html>
    <head>
        <title>Register</title>
       
    <link rel="stylesheet" href="static\css\reg.css">        
    </head>
    <body>
        
        <h2 class="h2-reg">Register</h2>
    <div class="reg-col">
        <form method="post">
        <div class="col-12-userid">
            {% csrf_token %}
            {{ userid.as_p }}
        </div>
        
        <div class="btn-reg">
            <button class="btns" type="submit">Register</button>
        </div>
        <div class="existing-account">
            <p>Already have an account? <a href="login">Login here</a>.</p>
        </div>
        
        </form>
    </div>   
    </body>
    </html>
    







































































































